@use "./mixins.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

//COLORS
$cyan: #66e2dc;
$red: #fa7453;
$orange: #ffb964;
$white: #fcfaf9;
$black: #191826;

//TEXT

$font-weight-bold: 700;
$font-weight-regular: 400;

html {
	font-family: "IBM Plex Sans", sans-serif;
	color: $black;
	// transition: max-width 250ms ease-in;
}

body {
	// width: 100%;
	background-image: url("/assets/bg-main-mobile.png");
	background-repeat: no-repeat;
	background-position: transform -20% right 70%;

	@include mq(tablet) {
		background-image: url("../assets/bg-pattern-1.svg"),
			url("../assets/bg-main-tablet.png");
		background-size: 266px 400px, 983px 808px;
		background-position: top -5% right -8%, top -20% right;
		background-repeat: no-repeat;
	}

	@include mq("desktop-wide") {
		font-size: 20px;
		background-image: url("../assets/bg-pattern-1.svg"),
			url("../assets/bg-main-desktop.png");
		background-size: 312px 468px, 1613px 1758px;
		background-position: top -5% right 27px, top -170% right 0;
		background-repeat: no-repeat;
	}
}

.header-container {
	padding: 4rem 2.4rem 0;

	@include mq(tablet) {
		padding: 6.2rem 4rem 0;
	}
}
.header__logo {
	margin-bottom: 6.4rem;

	@include mq(tablet) {
		margin-bottom: 9.5rem;
	}
}

.hero {
	@include flex(column nowrap, start, start);
	margin-bottom: 16.6rem;
	gap: 2rem;

	.hero__title {
		font-size: 4rem;
		font-weight: $font-weight-bold;
		line-height: 4.8rem;
	}

	.hero__text {
		font-size: 1.6rem;
		font-weight: $font-weight-regular;
		line-height: 2.6rem;
	}

	@include mq(tablet) {
		padding-right: 21rem;
		margin-bottom: 25rem;

		.hero__title {
			max-width: 52rem;
			font-size: 6.4rem;
			line-height: 6.4rem;
		}

		.hero__text {
			max-width: 51.4rem;
			font-size: 1.8rem;
			line-height: 2.8rem;
		}
	}

	@include mq("desktop-wide") {
		padding-right: 21rem;
		margin-bottom: 32.1rem;

		.hero__title {
			max-width: 101.5rem;
			font-size: 8.8rem;
			line-height: 8.8rem;
		}

		.hero__text {
			max-width: 82.5rem;
			font-size: 2rem;
			line-height: 3.4rem;
		}
	}
}

.main {
	// @include flex(column nowrap, center, center);

	background-color: $black;
	border-radius: 1.2rem;
	margin-bottom: 6.4rem;

	.main__background-image {
		width: 100%;
		background-image: url("/assets/bg-pattern-2.svg");
		background-position: 50% 5%;
		background-repeat: no-repeat;
	}

	.main__img {
		display: block;
		margin: 0 auto;
		width: 21rem;
		transform: translateY(-9.8rem);
	}

	.main__text-content {
		@include flex(column nowrap, start, start);
		gap: 1.2rem;
		background: $red;
		border-radius: 1.2rem;
		color: $white;
		padding: 4.8rem 3.7rem;
	}

	.main__title {
		font-size: 3.2rem;
		font-weight: $font-weight-bold;
	}

	.main__text {
		font-size: 1.8rem;
		font-weight: $font-weight-regular;
		line-height: 2.8rem;
		margin-bottom: 2.4rem;
	}

	.main__price {
		@include flex(row nowrap, start, center);
		gap: 1.6rem;
		margin-bottom: 2rem;
		span {
			font-size: 6.5rem;
			font-weight: $font-weight-bold;
		}
		font-size: 2rem;
		font-weight: $font-weight-regular;
	}

	.btn {
		@include flex(row nowrap, center, center);
		gap: 0.8rem;
		width: 100%;
		padding: 1.5rem 1.4rem 1.5rem;
		border-radius: 1.2rem;
		font-size: 1.8rem;
		font-weight: $font-weight-bold;

		cursor: pointer;
		&:hover {
			transition: 250ms ease-in;
		}
	}

	.ios-download-button {
		background: $black;
		color: $white;

		&:hover {
			background: $cyan;
		}
	}

	.android-download-button {
		background: $white;
		color: $black;
		&:hover {
			background: $orange;
		}
	}

	@include mq(tablet) {
		margin-bottom: 18.7rem;

		.main__background-image {
			background-position: 50% -30%;
			height: 60rem;
			margin: 0 auto;
		}

		.main__img {
			display: block;
			margin: 0;
			width: 27rem;
			transform: translateY(-25%) translateX(30%);
		}

		.main__text-content {
			@include flex(column nowrap, start, start);
			position: absolute;
			float: right;
			right: 15%;
			width: 40rem;
			transform: translateY(-85%);
			padding: 4.8rem;
		}
	}

	@include mq("desktop-wide") {
		max-width: 111rem;
		margin: 0 auto;
		margin-bottom: 20.2rem;

		.main__img {
			display: block;
			margin: 0;
			width: 31.2rem;
			transform: translateY(-25%) translateX(30%);
		}

		.main__text-content {
			@include flex(column nowrap, start, start);
			position: absolute;
			float: right;
			right: 15%;
			width: 44.6rem;

			transform: translateY(-80%);
			padding: 5.8rem 5.9rem;
		}

		.main__title {
			font-size: 4rem;
			font-weight: $font-weight-bold;
			margin-bottom: 2.2rem;
		}

		.main__text {
			font-size: 2rem;
			font-weight: $font-weight-regular;
			line-height: 3.4rem;
			margin-bottom: 3.9rem;
		}
		.ios-download-button {
			margin-top: 4.6rem;
		}
	}
}

.footer-container {
	gap: 3.2rem;
	width: 100%;
	padding: 0 2.4rem 8rem;

	.footer__text {
		font-size: 1.6rem;
		font-weight: $font-weight-regular;
		line-height: 2.6rem;
		max-width: 32.7rem;

		margin-bottom: 3.2rem;

		.footer__link {
			font-weight: $font-weight-bold;
		}
	}
	.socials {
		@include flex(row nowrap, start, start);
		gap: 2rem;
	}

	.footer__social-link-icon {
		height: 20px;
		width: 20px;
		transition: 250ms ease-in;
		&:hover {
			filter: invert(60%) sepia(55%) saturate(1642%) hue-rotate(323deg)
				brightness(96%) contrast(105%);
		}
	}

	@include mq(tablet) {
		.footer__wrapper {
			@include flex(row nowrap, space-between, center);
			min-width: 69.6rem;
		}

		.footer__text {
			max-width: 36.6rem;
			// overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	@include mq("desktop-wide") {
		@include flex(row nowrap, start, center);
		width: 111rem;
		margin: 0 16.5rem 0;
		.logo {
			align-self: start;
			margin-right: 13.7rem;
		}

		.footer__wrapper {
			@include flex(row nowrap, space-between, center);
		}

		.footer__text {
			margin-right: 35.9rem;
		}
	}
}
